// Background color of the whole context menu
.choice-box .context-menu { //-fx-padding: 8 15 15 15;
                               -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
                                -fx-background-radius: 8;
                                -fx-background-color:
                                    linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                                    #9d4024,
                                    #d86e3a;
                                -fx-font-weight: bold;
                                -fx-font-size: 1em;
                             }
// Focused item background color in the list
.choice-box .menu-item:focused {  -fx-background-color:
                                         linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                                         #9d4024,
                                         #d86e3a,
                                         radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
                                         }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white;}
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

// Background color of the control itself
.choice-box {
-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-mark-color: black; // arrow color
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: black; }



#record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
        -fx-text-fill: black;
        -fx-text-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );

}
#record-sales:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#record-sales Text {
    -fx-text-fill: white;
    -fx-text-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}